<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head") %> 
    <title>Datos Personales/Profesionales</title> 
    <link rel="stylesheet" href="resources/css/styles.css">
</head>
<body>
    
    <div class="register-form">
		<h1>Datos Personales Profesionales-TCE </h1>
		<form action="users/createPersonalInfo" method="POST">

        <br>
        <br>
            <input type="hidden" name="id" id="id" value="<%= locals.user.id %>">
            <label for="firstname">Nombre</label>
                <input type="text" name="firstName" required tabindex="1" autofocus>

            <label for="LastName">Apellido</label>
                <input type="text" name="lastName" required tabindex="2" autofocus>

            <label for="dni">DNI</label>
                <input type="text" name="dni" required tabindex="3">

            <label for="telephone">Telefono</label>
                <input type="text" name="telephone" required tabindex="4">
            
            <label for="birthDay">Cumpleaños</label>
                <input type="date" name="birthDay" required tabindex="5">

            <label for="profession">Profesion</label>
                <input type="text" name="profession" required tabindex="6">
            
            <label for="hobbie">Hobbie</label>
                <input type="text" name="hobbie" required tabindex="7">
            
            <label for="childrens">Hijos: </label>
                <input type="radio" id="Si" name="childrens" value="si" required tabindex="8"><label for="Si">Si</label>
                <input type="radio" id="No" name="childrens" value="no" required tabindex="8" checked><label for="No">No</label>

        <br>
        <br>
            <label for="teams">Equipo de Trabajo</label>                          
                <select id="rol" name="teams" class="select-css" tabindex="9">
                <option value="Info 1" selected>Info 1</option>
                <option value="Info 2">Info 2</option>
                <option value="Info 3">Info 3</option>
                <option value="Info 4">Info 4</option>
                <option value="Laboral">Laboral</option>                    
                </select>
        <br>
        <br> 
        <br> 
                 <div style="display: inline;">             
                <a href="/" class="btn-cancel">Cancelar</a><input type="submit" class="btn-save" value="Cargar">           
            </div>
		</form>		
	</div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if(typeof alert != "undefined") {  %>
        <script>
            Swal.fire({
                title:'<%= alertTitle%>',
                text:'<%= alertMassage%>',
                icon:'<%= alertIcon%>',
                icon:'<%= %>',
                showConfirmButton:'<%= showConfirmButton%>',
                timer:'<%= timer%>',
            }).then(()=>{
                window.location='/<%= ruta %>'
            })

        </script>    

    <%  } %> 

</body>
</html>