<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head") %> 
    <title>Servicios</title> 
  
    <link href="resources/css/menuLateral.css" rel="stylesheet">
    <link href="resources/css/tablas.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab05c0d697.js" crossorigin="anonymous"></script>

</head>

<body id="body">
    
<%- include("./includes/menu")%>

<h1>Historial de Servicios</h1>

<a href="./formServicios"><button class="boton-1"><i class="fa-solid fa-circle-plus" style="color:rgb(41, 151, 14); opacity: 0.7; 
    font-size: 40px;text-align:center;position: relative;" ></i></button></a>

<div style="overflow-x:auto;" id="tblData;">

<table id="tblData">
    <thead>
        <tr class="detServ">
            <th>TIPO</th>
            <th>ACTIVIDAD</th>
            <th>TIPO DE IMPUESTO</th>
            <th>AMBITO DE APLICACION</th>
            <th>PROVINCIA</th>
        </tr>

    </thead>
    <tbody>
        <% for (let i = 0;i < services.length; i++) { %>
        <tr>
            <td><%=services[i].type%> </td>
            <td><%=services[i].typeActivity%> </td>
            <td><%=services[i].contributionType == null ? "------" : services[i].contributionType%></td>
            <td><%=services[i].aplication == null ? "------" : services[i].aplication%></td>
            <td><%=services[i].province == null ? "------" : services[i].province%></td>

        <% } %>                 
        </tr>
    </tbody>

</table>

</div>

</body>

<script src="./resources/js/menulateral.js"></script>
<script src="./resources/js/tabla.js"></script>


</html>
   