<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TCE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="menu.css" content="width=device-width, initial-scale=1.0">
    <link href="../resources/css/menuLateral.css" rel="stylesheet">
    <link href="../resources/css/tablas.css" rel="stylesheet">
    <link href="../resources/css/formul.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>

<!--Formuario Vertical-->
<body id="body">
    
    <%- include("./includes/menu")%>

<br>

<!--Tabla de Usuarios-->

        <div class="">
            <h1>Historial de Tareas</h1>
            <br>
            <div style="overflow-x:auto;">
                <button class="bot-exportar" onclick="exportTableToExcel('tblData')"><b>Exportar</b></button>

            <table id="tblData" >
                <thead>
                    <tr class="panelTar">
                        <th >Tarea</th>
                        <th >Cliente</th>
                        <th >Equipo</th>   
                        <th >Fecha Tarea </th>
                        <th >Inicio Tarea</th>
                        <th >Fin Tarea</th>
                        <th >Duración Tarea</th>
                        <th >Tipo de Registro</th>
                        <th >Cantidad Registros</th>
                        <th >Observaciones</th>
                        <th >Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <%= console.log(tasks) %> 
                        <% for (let i = 0;i < tasks.length; i++) { %>
                        <tr class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>">  
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].name%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].cliente.name%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].team%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].date%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].timeBeginning%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].timeEnd%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].totalTime%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].records%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].recordsQuantity%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red " : "text-green" %>"> <%=tasks[i].observations%> </td>
                        <td class="<%= tasks[i].condition == "Pendiente" ? "text-red cdtr" : "text-green cdtg" %>"> <%=tasks[i].condition%> </td>
                        </tr>

                        <% } %>      
                        <button class="btn-cargarTarea" ><a href="/tareas/elegirServicios"><b>Nueva Tarea</b></a></button>
                </tbody>
            </table>
        </div>
        </div>  

</body>

<script src="../resources/js/menulateral.js"></script>
<script src="../resources/js/tabla.js"></script>

</html>