<!DOCTYPE html>
<html lang="es">
  
<head>
    <meta charset="UTF-8">
    <title>TCE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="menu.css" content="width=device-width, initial-scale=1.0">
    <link href="../resources/css/menuLateral.css" rel="stylesheet">
    <link href="../resources/css/formul.css" rel="stylesheet">
    <link href="../resources/css/cronometro.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ab05c0d697.js" crossorigin="anonymous"></script>
</head>

<!--Formuario Vertical-->
<body id="body">
    
    <%- include("./includes/menu")%>
<br>

<!--Formulario -->

<div class="contenedor">
    <div class="hijo">
    <form action="/tareas/create" method="POST">
      <h2>Mis   Tareas</h2>

      <label for="name">Tarea</label>
      <select id="name" name="name">
        <option value="Sueldos">Sueldos</option>
        <option value="Iva - Impuestos">Iva - Impuestos</option>
        <option value="Ganancias - Impuestos">Ganancias - Impuestos</option>
      </select>

      <label for="area">Area</label>
      <select id="area" name="area">
        <option value="Laboral">Laboral</option>
        <option value="Impositivo">Impositivo</option>
        <option value="Contabilidad y Auditoria">Contabilidad y Auditoria</option>
      </select>

      <label for="cliente">Cliente</label>
      <select id="cliente" name="cliente">
        <% clientes.forEach(cliente => { %>
           <option value="<%= cliente.name %> "><%= cliente.name %></option>
        <% }) %>
      </select>
  
      <label for="equipo">Equipo</label>
      <select id="equipo" name="equipo">
        <% equipos.forEach(equipo => { %>
          <option value="<%= equipo.name %> "><%= equipo.name %></option>
        <% }) %>
      </select>

      <label for="comment">Observaciones</label>
      <input type="text" id="comment" name="comment">

     <section id="fecha"></section> 
     <section id="displayInicio"></section>
     <section id="displayPausa"></section>
     <section id="displayContinuar"></section>
     <section id="displayFin"></section> 

     <a href="/" class="btn-cancel">Cancelar</a>
     <input type="submit" value="Cargar">
    </form>
    
    <!-- Cronometro-->
    <div id="contenedor">
<<<<<<< HEAD
        <section class="tempo">
          <div class="reloj" id="Horas">00</div>
          <div class="reloj" id="Minutos">:00</div>
          <div class="reloj" id="Centesimas">:00</div>
          <div class="reloj" id="Segundos">:00</div>
        </section>
=======
        <div class="reloj" id="Horas">00</div>
        <div class="reloj" id="Minutos">:00</div>
        <div class="reloj" id="Segundos">:00</div>
        <div class="reloj" id="Centesimas">:00</div>
        
>>>>>>> 7c03ff55c637bf64c3efa1a551e16950bfb2fad0

    <button class='btn btn-success btn-lg' type="button" name="start"></button>

        <section class="buttons">
          <input type="button" class="boton" id="inicio" value="Inicio &#9658;" onclick="inicio();" >
          <input type="button" class="boton" id="parar" value="Pausa &#8718;" onclick="parar();" disabled>
          <input type="button" class="boton" id="continuar" value="Continuar &#8634;" onclick="inicio();" disabled>
          <input type="button" class="boton" id="reinicio" value="Terminar" onclick="reinicio();" disabled>
        </section>   
        
    </div>
     </div>
      
</div>  


</body>


<script src="../resources/js/menulateral.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.3/dayjs.min.js"></script>
<script src="../resources/js/cronometro.js" ></script>

</html>